*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    /* padding: 0rem 1rem; */
    background-color: rgb(255, 222, 227);

}

.logo>img{
    width: 100px;
    height: 5rem;
    cursor: pointer;
}

.navlist{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navlist>li{
    padding: 1.4rem;
    cursor: pointer;
    font-size: 1.2rem;
}

/* CARDS */

.body {
    background-color: rgb(204, 204, 224);
    /* padding: auto; */
    /* display: flex; */
}
.btn1{
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(186, 220, 119);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.cardcontainer{
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    display: flex;
    flex-wrap: wrap;
  /* background-color: #aad5f8; */
  padding: 10px;
}
.restcard{
    width: 300px;
    height: auto;
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 1rem;
    background-color: rgb(194, 140, 194);
    border: 1px solid beige;
    border-radius: 10px;
    cursor: pointer;
}
.restcard>img{
    height: 200px;
    width: 270px;
    margin-bottom: 1rem;
   
}
.restcard>h4{
    margin-bottom: 0.5rem;
}

.shim-container{
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 2rem ;
    
 
}
.shim-card{
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
    height: 20rem;
    padding: 8rem;
    background-color: rgb(236, 236, 236);
    background-image: linear-gradient(to right, rgb(193, 190, 190) , rgb(200, 198, 198));
    margin: 1rem;
   
    border-radius: 10px;

}